@import url('https://fonts.googleapis.com/css?family=Poppins');

* {
    margin: 0;
    padding: 0;
    user-select: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
}

.sidebar {
    position: fixed;
    width: 250px;
    height: 100vh;
    left: 0;
    background: #1b1b1b;
    z-index: 1000;
}

.content {
    flex: 1;
    padding: 45px 50px 50px 50px;
    margin-left: 250px;
    text-align: justify;
}

.sidebar .text {
    font-size: 25px;
    font-weight: 600;
    line-height: 65px;
    text-align: center;
    background: #000000;
    letter-spacing: 1px;
}

.sidebar .text a{
    color: white;
    text-decoration: none;
}

nav ul {
    background: #1b1b1b;
    height: 100%;
    width: 100%;
    list-style: none;
}

nav ul li {
    line-height: 60px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

nav ul li:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

nav ul li a {
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-left: 40px;
    font-weight: 500;
    display: block;
    width: 100%;
    border-left: 3px solid transparent;
}

nav ul li.active a {
    color: cyan;
    background: #1e1e1e;
    border-left-color: cyan;
}

nav ul ul {
    position: static;
    display: none;
}

nav ul .ChPre_show.show {
    display: block;
}

nav ul .Dis_show.show {
    display: block;
}

nav ul ul li {
    line-height: 42px;
    border-bottom: none;
}

nav ul ul li a {
    font-size: 17px;
    color: #e6e6e6;
    padding-left: 80px;
}

nav ul li.active ul li a {
    color: #e6e6e6;
    background: #1b1b1b;
    border-left-color: transparent;
}

nav ul ul li a:hover {
    color: cyan!important;
    background: #1e1e1e!important;
}

nav ul li a span {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 22px;
    transition: transform 0.4s;
}

nav ul li a span.rotate {
    transform: translateY(-50%) rotate(-180deg);
}

.content ul{
    margin-left: 35px;
}

.content ul li{
    list-style-type: decimal;
    margin-top: 15px;
}

.code-example{
    display: flex;
}

.code-example img{
    width: 100%;
}

.code-before{
    width: 50%;
    margin-right: 30px;
}

.code-after{
    width: 50%;
    margin-left: 30px;
}